{% extends 'base.html' %}
{% block title %} A PROPOS {% endblock %}
{% block content %}

            <section class="section-padding" id="about">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-md-6 col-12">
                            <h2 class="mb-lg-3 mb-3">RENCONTRE Le Doc. NKEMBO</h2>

                            <p>Protégez-vous et protégez les autres en portant un masque et en vous lavant régulièrement les mains.
                                 Les espaces extérieurs sont plus sûrs que les lieux clos pour les rassemblements ou les événements.Les personnes atteintes de la maladie à coronavirus (COVID-19) 
                                 présentent des symptômes légers à modérés et guérissent sans traitement particulier..</p>
                        </div>

                        <div class="col-lg-4 col-md-5 col-12 mx-auto">
                            <div class="featured-circle bg-white shadow-lg d-flex justify-content-center align-items-center">
                                <p class="featured-text"><span class="featured-number">12</span> Ans<br> d'Experiences</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
{% endblock %}