<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
        
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">

    <link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/owl.theme.default.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/templatemo-medic-care.css' %}" rel="stylesheet">
</head>
<body>

    <nav>
        <a href="{% url 'hello' %}">ACCUEIL</a>
        <a href="{% url 'about' %}">A PROPOS</a>
    </nav>
    <h1>SITE EST COMPLET DES MAINTENANT</h1>
</body>
</html>